<!DOCTYPE html>
<html>
<head>
  <title>SocialSearchRailsExample</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css" ref="stylesheet" />
</head>
<body>

<%= yield %>

</body>
</html>
